#tool{
	background-color: red;
}
#satchel{
	background-color: brown;
}
#translation_form{
	background-color: green;
}
#mothertongue{
	background-color: blue;
}
#buttons{
	background-color: purple;
}
#english{
	background-color: yellow;
}
	